body {
  background-image: url("https://i.pinimg.com/originals/ef/a0/e9/efa0e90f1cb807c8334c5d02b93157dd.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.countdown-timer-app{
  transform: scale(2);
}